footer{
    height: 10vh;
    width: 30vw;
    text-align: center;
    margin: auto;
    align-items: baseline;
    padding-top: 2rem;
    .social{
        a{
            padding: 0 .5rem;
            text-decoration: none;
            color: $light-font-color;
            &:hover{
                color: $tertiary-color;
                @include transit(0.5s);
            }
        }
    }
    
}
footer.about{
    height: 10vh;
    width: 30vw;
    text-align: center;
    margin: auto;
    align-items: baseline;
    padding-top: 2rem;
    margin-top: -100px;
    position: relative;
    .social{
        a{
            padding: 0 .5rem;
            text-decoration: none;
            color: $light-font-color;
            &:hover{
                color: $tertiary-color;
                @include transit(0.5s);
            }
        }
    }
    
}
footer.students{
    height: 10vh;
    width: 100vw;
    text-align: center;
    margin: auto;
    align-items: baseline;
    padding-top: 2rem;
    
    .social{
        a{
            padding: 0 .5rem;
            text-decoration: none;
            color: $primary-color;
            &:hover{
                color: $secondary-color;
                @include transit(0.5s);
            }
        }
    }
    
}